html {
    scroll-behavior: smooth;
}

nav {
    font-family: 'Roboto', sans-serif;
    font-weight: 650;
    background: #2bae66ff !important;
}

.navbar-brand {
    font-size: 1.4rem;
    color: #ddd !important;
    font-family: 'Lobster', cursive;
}

.nav-link {
    color: #ddd !important;
    font-family: 'Play', sans-serif;
    font-weight: 700;
    font-size: 1.1rem;
    transition: 400ms cubic-bezier(0.39, 0.575, 0.565, 1);
    margin-right: 1rem;
}

.buttons .btn {
    background-color: #ffffff;
    color: #2bae66ff;
    position: relative;
    z-index: 999;
}

.buttons .btn:hover {
    background: rgb(114, 233, 167);
    color: #ffff;
    opacity: .6;
}

.nav-link:hover {
    background: #ffff;
    color: #2bae66ff !important;
    border-radius: 0.3rem;
}

header {
    height: 100%;
    width: 100%;
    background: #2bae66ff;
    padding-top: 10rem;
    padding-bottom: 7rem;
}

.big {
    font-size: 2.3rem;
}

.small {
    font-size: 1.2rem;
}

.text2 {
    color: #ddd !important;
}

.deliveries {
    max-width: 100%;
}

.features {
    font-family: 'Play', cursive;
    background-color: rgb(196, 241, 196);
    color: #2bae66ff;
    height: 100%;
    padding-top: 4.5rem;
    overflow: hidden;
    padding-bottom: 4rem !important;
}

.arrive {
    font-size: 1.9rem !important;
    font-family: 'Play', cursive;
    font-weight: 100;
    text-transform: uppercase;
}

.bigger {
    font-weight: 900;
    font-size: 2.8rem;
    opacity: 0.9;
}

.coming {
    color: #2bae66ff;
    font-style: bold;
    font-family: 'Play', cursive;
}

.intro-text {
    font-size: 1.8rem !important;
    word-spacing: 1rem;
    font-weight: 100 !important;
}

.track {
    overflow: hidden;
    font-family: 'Play', cursive;
    font-weight: 100;
    text-transform: uppercase;
    max-width: 100%;
}

.safety {
    max-width: 100%;
}

figure {
    padding-bottom: 2rem;
}

.how-it-works {
    padding-top: 3rem;
    background: rgb(196, 241, 196) !important;
    font-family: 'Play', cursive;
    color: #2bae66ff;
    height: 100%;
}

.content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.courier {
    max-width: 100%;
    background: #fff;
    color: #2bae66ff;
}

.item-owner {
    background: #2bae66ff;
    color: #ddd;
}

.how-it-works {
    overflow: hidden;
    height: 100%;
}

.join {
    background: #2bae66ff;
    color: #ddd;
    overflow-x: hidden;
    font-family: 'Play', cursive;
}

.join .btn {
    background: #ddd;
    color: #2bae66ff;
}

.join .btn:hover {
    background: rgb(143, 219, 177);
    color: #fff;
}

.join-info {
    font-size: 1.1rem;
}

.or {
    font-size: 1.8rem;
    text-transform: uppercase;
}

@media(min-width:760px) {
    header {
        height: 100vh;
        overflow: hidden;
    }
    .head-text {
        padding-top: 1rem;
    }
    .features {
        padding-top: 4.5rem;
    }
    .features p {
        font-size: large;
    }
    .how-it-works {
        height: 100vh;
        padding-top: 3rem;
        background: #a7226e;
        font-family: 'Play', cursive;
    }
}

@media(max-width:550px) {
    header {
        padding-top: 4.5rem;
    }
    .header-img {
        max-width: 50%;
        opacity: 0;
        margin-top: 2rem;
        padding-bottom: 4rem;
    }
    .custom-btn {
        margin-top: 3rem;
    }
}