<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>

<body>
    <div class="hamburger">
        <i class="fa fa-bars icon"></i>
    </div>
    <div class="nav-links">
        <ul>
            <li>
                <a href="">
                    <img src="<%= default_avatar %> " alt="avatar" class="avatar img-circle">
                </a>
            </li>
            <li><a href=""><i class="fa fa-user-circle"></i> User's Profile</a></li>
            <li><a href=""><i class="fa fa-bell"></i> Notifications <i class="badge badge-secondary">0</i></a></li>
            <li><a href=""><i class="fa fa-tag"></i> Redeem Promo code</a></li>
            <li><a href=""><i class="fa fa-cog"></i> Setting</a></li>
            <li><a href=""><i class="fa fa-heartbeat"></i> Support</a></li>
        </ul>
    </div>

    <script src="/js/animations.js"></script>
</body>

</html>