<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Fakomano
    </title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/landingpage.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Play&display=swap" rel="stylesheet">
    <link rel="icon" href=" https://img.icons8.com/pastel-glyph/64/000000/delivery-scooter--v1.png">

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light  fixed-top">
        <a class="navbar-brand" href="/">Fakomano</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
        <div class="collapse navbar-collapse ml-auto" id="navbarNav">
            <ul class="navbar-nav text-center ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#features">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#how-it-works">How It Works</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#join">Join Now</a>
                </li>
            </ul>
        </div>
    </nav>
    <header id="home">
        <div class="row container m-auto head-text">
            <div class="col-lg-6 text-section m-auto">
                <h1 class="display-4 head">Welcome to the best online delivery platform.</h1>
                <div class="buttons mt-5">
                    <a href="join/register"> <button class="btn but">Register</button> </a>
                    <a href="join/login"><button class="btn but">Login</button></a>
                </div>
            </div>
            <div class="col-lg-6 m-auto text-center">
                <img src="/img/deliveries.svg" alt="" class="deliveries">
            </div>

        </div>

    </header>
    <main>
        <section class="features" id="features">
            <h1 class="text-center track">Features</h1>
            <div class="container m-auto">
                <div class="row">
                    <div class="col-12 container m-auto pt-5 text-center">
                        <h2 class="text-center track">Location tracking of your courier</h2>
                        <figure class="row pt-5 ">
                            <figcaption class="pt-5 col-lg-3 m-auto">
                                <p class="intro-text track  ">You get to know the location of your courier. It's just like you're with your product but someone is driving you to the delivery point.</p>
                            </figcaption>
                            <img src="/img/location_tracking.svg" alt="" class=" col-lg-9 track">
                        </figure>
                    </div>
                </div>
                <div class="container m-auto">
                    <div class="row on coming">

                        <figure class="row pt-5">
                            <img src="/img/on_the_way.svg" alt="" class="col-lg-9 ride on-the-way">

                            <figcaption class="pt-5 col-lg-3">
                                <p class=" arrive on-the-way on-text">We deliver everything ordered in full and in one piece.</p>
                            </figcaption>
                        </figure>
                    </div>
                </div>
        </section>
        <section class="how-it-works" id="how-it-works">
            <div class="container m-auto">
                <h1 class="text-center pt-5 hit pb-5">
                    How it works
                </h1>
                <div class="container m-auto ">
                    <div class="content m-auto ">
                        <div class="courier jumbotron hit">
                            <h2 class="text-center pt-2 hit">Register As a Courier</h2>
                            <div class="hit">
                                <p class="ml-5 pl-3"><i class="fa fa-check"></i> Open the app</p>
                                <p class="ml-5 pl-3"><i class="fa fa-check"></i> Click on register as courier</p>
                                <p class="ml-5 pl-3"><i class="fa fa-check"></i> Fill the form with required information</p>
                                <p class="ml-5 pl-3"><i class="fa fa-check"></i> Click on submit</p>
                                <p class="ml-5 pl-3"><i class="fa fa-check"></i> Wait for a contract</p>

                            </div>
                        </div>
                        <div class="item-owner jumbotron hit">
                            <h2 class="text-center pt-2 hit">Register As a Item Owner</h2>
                            <div class="hit">
                                <p class="ml-5 pl-3"><i class="fa fa-check"></i> Open the app</p>
                                <p class="ml-5 pl-3"><i class="fa fa-check"></i> Click on register as item owner</p>
                                <p class="ml-5 pl-3"><i class="fa fa-check"></i> Fill the form with required information</p>
                                <p class="ml-5 pl-3"><i class="fa fa-check"></i> Click on submit</p>
                                <p class="ml-5 pl-3"><i class="fa fa-check"></i> Start your search for courier</p>
                                <p class="ml-5 pl-3"><i class="fa fa-check"></i> Add description and set delivery point</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <section class="join" id="join">
            <div class="container p-5">
                <h1 class="join-head text-center display-4">
                    Join today to have your product or items delivered safely
                </h1>
                <p class="join-info text-center">
                    All you are required to do is either choose to register as a courier if you have the required vehicle and licenses to be one .
                </p>
                <p class="or text-center">
                    Or
                </p>
                <p class="join-info text-center">
                    Choose to register as deliver for me to get your items delivered for you.
                </p>
                <div class="join-buttons text-center">
                    <a href="/join/register" class="btn join-btn-r">Register</a>
                    <a href="/join/login" class="btn join-btn-l">Login</a>
                </div>
            </div>
        </section>
    </main>

    <script src="/js/gsap.min.js"></script>
    <script src="/js/ScrollTrigger.min.js"></script>
    <script src="/js/landinPageAnimations.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

</body>

</html>