.banner {
    font-family: 'Lobster', cursive;
    background: #2bae66ff;
    color: #ddd;
    font-size: 1.5rem;
}

h2 {
    color: #2bae66ff;
    font-family: 'Play', sans-serif;
}

.btn {
    background: #2bae66ff;
    color: #ddd;
    transition: 200ms cubic-bezier(0.47, 0, 0.745, 0.715);
    font-size: 1.2rem;
    font-family: 'Play', sans-serif;
}

.btn:hover {
    color: #2bae66ff;
    background: #ddd;
}

.image {
    max-width: 100%
}

.deliver-for-me-form,
main {
    background: rgb(146, 243, 190);
    height: 100%;
    overflow: hidden;
}

.field {
    font-family: 'Play', sans-serif;
    color: #2bae66ff;
}

.input-but {
    font-size: 1.2rem;
    font-family: 'Play', sans-serif;
}

.input-but:hover {
    background: rgb(41, 66, 52);
    color: #ddd;
}

.courier-section {
    position: relative;
    left: 100%;
    transition: 1.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.deliver-for-me-section {
    position: relative;
    right: 100%;
    transition: 1.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.bring {
    left: 0;
}

.come {
    right: 0;
}

@media(min-width:768px) {
    main {
        height: 100vh;
    }
}